<!DOCTYPE html>
<%# including the head section of the HTML document %>
<%- include('head') -%>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-md">
  <div class="page-wrapper">
    <%- include('header') -%>

    <!-- BEGIN CONTAINER -->
    <div class="page-container">
      <%- include('left-col') -%>
      <%- include('right-col') -%>
      <%- include('mid-col') -%>
    </div>
    <!-- END CONTAINER -->

      <%- include('footer') -%>
  </div>

  <%- include('script') -%>
</body>
</html>